.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  display: block;
  flex: 1;
}
